// colores

$color-negro: #201e1f;
$color-light-violet: #db99a4;
$color-blue: #16697a;
$color-white: #f9f9fa;
$color-violet: #993955;

// sombra

$sombra : 0px 0px 20px 5px rgba(63, 19, 3, 0.248);

// ········
// Bordes
$border_corner: 15px;

$border: 1.5px groove $color-blue;

$borde_circular: 50% ;
