// Tipografías
// Lato

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');


// Tamaños de fuente
// Big
$size_big : 1.5em;

// Medium
$size_medium : 1.2em;
$weigth_medium : 500;