// Paddings

// relleno pequeño
$padding_little: .3em;
$padding: 1em;
// relleno medium
$padding_regular: 2em;
$padding_medium: 3em;
// relleno big


// Margins
$margin_little: 1em;
$margin_medium: 3em;