%display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%darkmode{
    background-color: $color-negro;
    color: $color-white;
    transition: color 1s ease-out, background-color 1s ease-out;
    
}

// Bordes
%border_corner{
    border-radius: 15px;
}
%border{
    border: 1.5px groove $color-blue;
}

$borde_circular: 50% ;
